@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
    /* removes default margins from all four sides  */
}



.first {
    display: flex;
    /* horizontally aligns child divs */
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-bottom: 10px;
    /* ------------------------------------------------------- */
    padding-top: 20px;
    padding-right: 10%;
    padding-left: 10%;
    
}

.links {
    display: flex;
    /* horizontally aligns child divs */
    gap: 20px;
    font-size: 18px;
    
    
}

a {
    text-decoration: none;
    /* removes underlines from links */
    color: #e5e7eb;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.first-one {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    /* ------------------------------------------------------------- */
    padding-right: 10%;
    padding-left: 10%;
}


.awesome-site {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    margin-bottom: -40px;
    /* removes space between divs */
}

.para {
    color: #e5e7eb;
    font-size: 18px;
}

.button1 {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    /* this makes the button look flat rather then the default 3d look */
    font-weight: bold;
}

.firstOne-one {
    width: 50%;
    /* half space for this container */
    height: auto;
}


.firstOne-two {
    width: 50%;
    /* half space for this container */
    height: auto;
}

.imgA {
    float: right;
    /* the image floats to the right of the div container */
    width: 80%;
    height: auto;
    padding-top: 60px;
}
/* ----------------------------------------------------------------- */
.second {
    /* background-color: red; */
    margin-left: 50px;
    margin-right: 50px;
}




.second-one {
    text-align: center;
    
    color: #1f2937;
    
}

.images {
    /* background-color: aqua; */
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.imgB {
    width: 100%;
    height: auto;
    /* setting width and height to 100% and auto helped fix overflowing content from the container */
    border: 6px solid #3882f6;
    border-radius: 5px;
    /* setting border and border-radius on the images gives it a thick blue border  */
}



figcaption {
    text-align: center;
    /* aligns image description to center */
}

.info {
    font-size: 36px;
    font-weight: 800;
    /* makes text extra bold  */
}

/* ------------------------------------------------------------------------------------------------- */

.third {
    background-color: #e5e7eb;
    padding: 80px;
}

.third-one {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-left: 40px;
    margin-right: 40px;
}

.third-two {
    font-weight: bold;
    text-align: right;
    margin-left: 40px;
    margin-right: 40px;
}

/* --------------------------------------------------------------------------------------- */

.fourth {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 100px;
    border-radius: 5px;
    /* this div has rounded border radius  */
    padding-top: 20px;
    padding-bottom: 20px;
}

.button2 {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    /* this makes the button look flat rather then the default 3d look */
    font-weight: bold;
    border: 2px solid #f9faf8;
    /* white colored border to button2  */
    /* the 'border' property has to be specified in the end otherwise does not work  */
}

.fourth-one {
    /* background-color: aqua; */
    margin: auto;
}

.four-h3 {
    color: #f9faf8;
    margin-bottom: -10px;
    /* removes space between two elements  */
}

.four-p {
    color: #e5e7eb;
}

.fourth-two {
    /* background-color: aquamarine; */
    margin: auto;
    
}

/* ---------------------------------------------------------------------------------------------- */

footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
    text-align: center;
}